<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hjhq.teamface.statistic">
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.StatisticApplication"
        android:allowBackup="false"
        android:label="@string/statistic_app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:label">

        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--统计列表-->
        <activity android:name=".ui.StatisticsActivity"/>

        <activity android:name=".ui.SelectSortActivity"/>
        <activity android:name=".ui.ReportDetailActivity"/>
    </application>

</manifest>