<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.hjhq.teamface.project">

    <application
        android:allowBackup="false"
        android:label="@string/project_app_name"
        android:supportsRtl="true">

        <activity android:name=".presenter.ProjectActivity"/>
        <activity android:name=".presenter.ProjectDetailActivity"/>
        <!--新建项目-->
        <activity android:name=".presenter.add.AddProjectActivity"/>
        <activity android:name=".presenter.navigation.TaskGroupActivity"/>
        <activity android:name=".presenter.navigation.EditGroupActivity"/>
        <activity android:name=".presenter.navigation.EditTaskTempActivity"/>
        <activity android:name=".presenter.navigation.AddGroupActivity"/>
        <activity android:name=".presenter.navigation.AddTaskTempActivity"/>
        <!--编辑项目关联-->
        <activity android:name=".presenter.navigation.EditTaskLinkActivity"/>
        <activity android:name=".presenter.ProjectRoleActivity"/>
        <activity android:name=".presenter.SelectModuleActivity"/>
        <!--编辑项目动态-->
        <activity android:name=".presenter.ProjectDynamicActivity"/>
        <!--项目设置-->
        <activity
            android:name=".presenter.EditProjectActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--项目模板选择-->
        <activity android:name=".presenter.ProjectTemplateActivity"/>
        <!--添加项目任务-->
        <activity android:name=".presenter.task.AddTaskActivity"/>
        <!--编辑任务-->
        <activity android:name=".presenter.task.EditTaskActivity"/>
        <!--项目成员管理-->
        <activity android:name=".presenter.ProjectMemberActivity"/>
        <!--项目文件(文件级别,只有文件)-->
        <activity android:name=".presenter.ProjectFileActivity"/>
        <!--项目文件详情-->
        <activity android:name=".presenter.ProjectFileDetailActivity"/>
        <!--项目相关搜索界面-->
        <activity android:name=".presenter.ProjectSearchActivity"/>
        <activity android:name=".presenter.filter.TaskSearchActivity"/>
        <!--项目分享新增,编辑,详情-->
        <activity android:name=".presenter.add.ProjectAddShareActivity"/>
        <!--分享成员列表-->
        <activity android:name=".presenter.ProjectShareMemberActivity"/>
        <!--新增编辑文件夹-->
        <activity android:name=".presenter.add.ProjectAddFolderActivity"/>
        <!--项目分组列表(文库)-->
        <activity android:name=".presenter.ProjectGroupFolderListActivity"/>
        <!--项目任务列表(文库)-->
        <activity android:name=".presenter.ProjectFolderListActivity"/>
        <!--项目标签-->
        <activity android:name=".presenter.ProjectLabelsActivity"/>
        <!--选择任务-->
        <activity android:name=".presenter.task.SelectTaskActivity"/>
        <activity android:name=".presenter.task.SelectTaskActivityV2"/>
        <activity android:name=".presenter.task.QuoteTaskActivity"/>
        <!--选择任务-所有-->
        <activity android:name=".presenter.task.SelectAllTaskActivity"/>
        <!--搜索任务-->
        <activity android:name=".presenter.task.SearchTaskActivity"/>
        <!--交接任务-->
        <activity android:name=".presenter.HandleTaskActivity"/>
        <!-- 协作人 -->
        <activity android:name=".presenter.task.TaskMemberActivity"/>
        <!--任务详情-->
        <activity android:name=".presenter.task.TaskDetailActivity"/>
        <!--个人任务详情-->
        <activity android:name=".presenter.task.PersonalTaskDetailActivity"/>
        <!-- 点赞列表 -->
        <activity android:name=".presenter.task.TaskThumbUpActivity"/>

        <!-- 移动任务 -->
        <activity android:name=".presenter.task.MoveTaskActivity"/>
        <!-- 复制任务 -->
        <activity android:name=".presenter.task.CopyTaskActivity"/>
        <!-- 选择主节点 -->
        <activity android:name=".presenter.task.SelectNodeActivity"/>
        <!-- 选择子节点 -->
        <activity android:name=".presenter.task.SelectSubNodeActivity"/>
        <!-- 添加子任务 -->
        <activity android:name=".presenter.task.AddSubTaskActivity"/>
        <!-- 设置重复任务 -->
        <activity android:name=".presenter.task.RepeatTaskActivity"/>
        <!-- 设置任务提醒 -->
        <activity android:name=".presenter.task.TaskRemindActivity"/>
        <!-- 设置重复个人任务 -->
        <activity android:name=".presenter.task.PersonalTaskRepeatActivity"/>
        <!-- 设置个人任务提醒 -->
        <activity android:name=".presenter.task.PersonalTaskRemindActivity"/>
        <!-- 选择星期重复日期 -->
        <activity android:name=".presenter.task.SelectWeeklyRepeatDateActivity"/>
        <!-- 选择每月重复日期 -->
        <activity android:name=".presenter.task.SelectMonthRepeatDateActivity"/>
        <!-- 结束重复 -->
        <activity android:name=".presenter.task.EndOfRepeatActivity"/>
        <!-- 选择截止时间 -->
        <activity android:name=".presenter.task.BeforeDeadlineActivity"/>
        <!-- 提醒方式 -->
        <activity android:name=".presenter.task.RemindWayActivity"/>
        <!-- 任务状态 -->
        <activity android:name=".presenter.task.TaskStatusActivity"/>
        <!-- 项目模板 -->
        <activity android:name=".presenter.temp.ProjectTempFlowActivity"/>
        <!-- 选择工作流模板 -->
        <activity android:name=".presenter.navigation.SelectWorkFlowActivity"/>
        <!-- 工作流 -->
        <activity android:name=".presenter.navigation.WorkFlowActivity"/>
        <!-- 备忘录选择项目 -->
        <activity android:name=".presenter.ChooseProjectActivity"/>
        <!-- 个人任务关联组件选择模块 -->
        <activity android:name=".presenter.reference.SelectReferenceModuleActivity"/>
        <!-- 个人任务关联组件选择项目 -->
        <activity android:name=".presenter.reference.ReferenceChooseProjectActivity"/>
        <!-- 个人任务关联组件选择分组 -->
        <activity android:name=".presenter.reference.ReferenceChooseGroupActivity"/>
        <!-- 个人任务关联组件选择列表 -->
        <activity android:name=".presenter.reference.ReferenceChooseListActivity"/>
        <!-- 任务卡片 -->
        <activity android:name=".presenter.TaskCardListActivity"/>
        <!-- 子任务卡片 -->
        <activity android:name=".presenter.SubTaskCardListActivity"/>
        <!-- 关联卡片 -->
        <activity android:name=".presenter.RelationTaskCardListActivity"/>

    </application>

</manifest>
