<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hjhq.teamface.login">

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="false"
        android:label="@string/login_app_name"
        android:supportsRtl="true">

        <!-- 引导图页 -->
        <activity
            android:name=".presenter.GuideActivity"
            android:launchMode="singleInstance"/>
        <!-- 登录页 -->
        <activity
            android:name=".presenter.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".presenter.InputPhoneActivity"/>
        <activity android:name=".presenter.InputVerifyActivity"/>
        <!-- 注册页 -->
        <activity android:name=".presenter.RegisterActivity"/>
        <!-- 忘记密码 -->
        <activity android:name=".presenter.ForgetPwdActivity"/>
        <!-- 登录设置 -->
        <activity android:name=".presenter.LoginSettingActivity"/>
    </application>

</manifest>
