<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hjhq.teamface.attendance">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".application.AttendanceApplication"
        android:icon="@mipmap/logo"
        android:label="@string/attendance_app_name"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:label,android:icon,android:name,android:theme">
        <activity android:name=".AttendanceTestActivity"/>
        <!--考勤主页-->
        <activity android:name=".presenter.AttendanceActivity"/>
        <!--新增排班-->
        <activity android:name=".presenter.AddWorkScheduleActivity"/>
        <activity android:name=".presenter.WorkScheduleActivity"/>
        <!--查看打卡人数-->
        <activity android:name=".presenter.AttendanceActivity2"/>
        <activity android:name=".presenter.AttendanceNumActivity"/>
        <!--查看打卡月历-->
        <activity android:name=".presenter.MonthlyDataActivity"/>
        <!--排行榜-->
        <activity android:name=".presenter.AttendanceRangeActivity"/>
        <!--打卡规则-->
        <activity android:name=".presenter.AttendanceRulesActivity"/>
        <!--考勤类型-->
        <activity android:name=".presenter.AttendanceTypeActivity"/>
        <!--排班管理-->
        <activity android:name=".presenter.WorkTimeManageActivity"/>
        <!--添加考勤WiFi-->
        <activity android:name=".presenter.AddWifiActivity"/>
        <!--添加考勤地址-->
        <activity android:name=".presenter.AddLocationActivity"/>
        <!--规则设置-->
        <activity android:name=".presenter.AddRulesActivity"/>
        <!--添加审批单-->
        <activity android:name=".presenter.AddApprovalActivity"/>
        <!--审批单-->
        <activity android:name=".presenter.AttendanceApprovalActivity"/>
        <!--班次详情-->
        <activity android:name=".presenter.ScheduleDetailActivity"/>
        <!--其他设置-->
        <activity android:name=".presenter.AdditionalSettingsActivity"/>
        <!--添加打卡规则-->
        <activity android:name=".presenter.AddGroupActivity"/>
        <activity android:name=".presenter.DayActivity"/>
        <activity android:name=".presenter.MonthActivity"/>
        <activity android:name=".presenter.MyDataActivity"/>
        <activity android:name=".presenter.AttendanceRemarkActivity"/>
        <activity android:name=".presenter.AttendanceRulesMineActivity"/>
        <!--插件管理-->
        <activity android:name=".presenter.PlugManageActivity"/>
    </application>

</manifest>
